<html>
    <head>
        {% block head %}

        <!-- jquery -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
        <!-- External CSS file -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        {% endblock head %}

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1d924a">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    Top 10 Songs
                </a>
                <form class="form-inline mr-auto" id="searchform"> <!-- mr-auto class to push the form to the left -->
                    <input id="searchbox" name="searchkey" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                    <button id="searchbutton" class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
        
                <div>
                    <button class="btn btn-light"><a href="/add">Add new song</a></button>
                </div>
            </div>
        </nav>

        <div id="searchresults" class="container">
            {% block content %}
            
            {% endblock content %}
        </div>

    </body>

    <script>
        $(document).ready(function () {
            // Initialize autocomplete
            $("#searchbox").autocomplete({
                source: names
            });

            // Handle form submission
            $("#searchform").on("submit", function(event) {
                // Prevent default form submission
                event.preventDefault();
                performSearch();
            });
        });

        // Function to perform search
        function performSearch() {
            // Get the search term and trim whitespace
            let searchkey = $("#searchbox").val().trim();

            // Check if the search term is not empty
            if (searchkey.length > 0) {
                // Redirect to search results page with the search term as a parameter
                window.location.href = "/search_results/" + encodeURIComponent(searchkey);
            }
        }
    </script>
</html>